<div class="container" [class.bg-quiz]="quizComenzado">
  <h1>Modelo VARK</h1>

  @if (!quizComenzado && !testFinalizado) {
    <div class="card">
      <p class="card-text p-4">
        El modelo VARK es una herramienta pedagógica desarrollada por Neil Fleming, que clasifica
        los estilos de aprendizaje en cuatro modalidades sensoriales principales: Visual, Auditivo,
        Lectura/Escritura y Kinestésico
        <br />
        <strong
          >Aunque se pueden tener preferencias marcadas, muchas personas utilizan una combinación de
          estos estilos (aprendizaje multimodal).</strong
        >
      </p>
    </div>

    <div>
      <button type="button" class="btn btn-success btn-lg" (click)="empezarQuiz()">
        Comienza aquí
      </button>
    </div>
  }

  @if (quizComenzado) {
    <div class="quiz-box">
      <div class="card-body">
        <h2 class="card-title">Pregunta {{ indiceActual + 1 }}</h2>
        <p>
          <strong>{{ preguntas[indiceActual].texto }}</strong>
        </p>

        <div class="d-grid gap-3">
          @for (opcion of preguntas[indiceActual].opciones; track opcion.texto) {
            <label class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                [checked]="opcion.seleccionada"
                (change)="opcion.seleccionada = !opcion.seleccionada"
              />
              {{ opcion.texto }}
            </label>
          }
        </div>
        <div class="d-flex justify-content-between gap-2 mt-4">
          <button
            class="btn btn-secondary flex-fill"
            (click)="indiceActual = indiceActual - 1"
            [disabled]="indiceActual === 0"
          >
            Anterior
          </button>

          <button class="btn btn-primary flex-fill" (click)="siguientePregunta()">
            {{ indiceActual === preguntas.length - 1 ? 'Finalizar' : 'Siguiente' }}
          </button>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-danger mt-3" (click)="reiniciarQuiz()">INICIO</button>
        </div>
      </div>
    </div>
  }

  @if (testFinalizado) {
    <div class="card p-5 shadow-lg border-0 fade-in">
      <div class="card-body text-center">
        <h1 class="display-4 text-primary mb-4">¡Resultado Listo!</h1>

        <div class="resultado-box p-3 bg-light rounded-3 mb-4">
          <h5 class="fw-bold text-uppercase">{{ resultadoFinal }}</h5>
          <p class="text-muted mt-2">
            @if (resultadoFinal === 'Visual') {
              <p>
                Eres del clan de los visuales. <br />La forma en que aprendes está caracterizada por
                comprender la información al verla o visualizarla mentalmente. <br />
              </p>
            } @else if (resultadoFinal === 'Auditivo') {
              <p>
                Eres del clan de los auditivos. <br />
                La forma en que aprendes está caracterizada por comprender la información
                principalmente al escucharla.
              </p>
            } @else if (resultadoFinal === 'Lecto-Escritura') {
              <p>
                Eres del clan de lecto-escritura. <br />
                La forma en que aprendes está caracterizada por captar la información a través de
                las palabras y el texto.
              </p>
            } @else if (resultadoFinal === 'Kinestésico') {
              <p>
                Eres del clan de los kinestésicos. <br />La forma en que aprendes está caracterizada
                por asociar la información a sensaciones, movimientos y experiencias físicas.
              </p>
            }
          </p>
        </div>

        @if (resultadoFinal === 'Visual') {
          <p>
            🎨 Te recomendamos: <br />
            -Usar mapas conceptuales y diagramas de flujo. <br />
            - Prueba creando instrucciones escritas. <br />
            - Personaliza tus notas con resaltadores y colores para facilitar tu retención y
            comprensión.
          </p>
        } @else if (resultadoFinal === 'Auditivo') {
          <p>
            🎧 Te recomendamos: <br />
            - Escuchar podcasts y debates. <br />
            - Pedir las instrucciones verbalmente. <br />
            - Realizar reflexiones o diálogos con la información a estudiar. <br />
            - Repasar con presentaciones orales.
          </p>
        } @else if (resultadoFinal === 'Lecto-Escritura') {
          <p>
            📝 Te recomendamos: <br />
            - Tomar apuntes detallados, hacer listas y leer textos explicativos. <br />
            - Leer libros para la captación de información. <br />
            - La creación de PowerPoints y folletos en la retención y comprensión. <br />
          </p>
        } @else if (resultadoFinal === 'Kinestésico') {
          <p>
            🛠️ Te recomendamos: <br />
            -Aprender usando modelos físicos como maquetas, realiza experimentos prácticos o muévete
            mientras estudias.
            <br />
            -Flashcards/tarjetas con información que te ayudan a organizar tu contenido mental.
            <br />
            - Ocupa la tecnología a tu favor, las novedades te estimularán.
          </p>
        }

        <button type="button" class="btn btn-dark btn-lg px-5 mt-3" (click)="reiniciarQuiz()">
          SALIR
        </button>
      </div>
    </div>
  }
</div>
